body {
    height: max-content;
    width: max-content;
}

.navbarfixmarginja {
    width: 100%;
    height: 80px;
}

.bold {
    font-weight: bold;
}


.resz {
    justify-content: center;
    --bs-gutter-x: 0 !important;
}



#poster {
    margin: 20px;
    margin-top: 0px;
    overflow: hidden !important;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#poster #posterimg {
    position: relative;
    border: 2px solid black;

    max-height: calc(100vh - 20vh);
    margin-top: 30px;
}

#poster #fadedimg {
    position: absolute;
    z-index: -1;
    filter: blur(15px);
    border-radius: 20px;
    max-height: calc(100vh - 20vh);
    max-width: 35vw;
    scale: 1.1;

    margin-top: 30px;
}





.videok {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    width: fit-content;
}


#videokLoad_btn {
    border-radius: 20px;
    border: 2px solid var(--red-theme);
    padding: 5px 10px;
    width: fit-content;
    text-align: center;
    margin: 20px auto;
    transition: 0.3s;

    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

#videokLoad_btn:hover {
    font-weight: bolder;
    font-size: 1.05em;
    transition: 0.3s;
}



#videok_container {
    position: fixed;
    inset: 0px;
    max-width: 90vw;
    max-height: 80dvh;
    overflow: auto;
    width: max-content;
    height: max-content;

    margin: auto;

    z-index: 100 !important;

    padding: 10px;
    border-radius: 20px;
    border: 2px solid var(--red-theme);

    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);

    transition: 0.3s all;
}

#videok_container h5 {
    max-width: fit-content;
    font-size: 1.6em;
    text-decoration: underline;
    text-align: left;
    margin: 20px;
}

#videok_container span {
    position: sticky;
    top: 0px !important;
    right: 20px;
    float: right;
    width: fit-content;
    font-size: 1.6rem;
    transition: 0.3s all;

    z-index: 110 !important;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    border-radius: 20px;
}
#videok_container span:hover {
    color: var(--red-theme);
    transition: 0.3s all;
}


#videok_container hr {
    margin: 0;
}

.bgpreventclickandfade {
    display: none;
    position: fixed;
    top: -100dvh !important;
    left: -100vw !important;
    min-width: 200vw;
    min-height: 200dvh;

    z-index: 80 !important;
    background-color: rgba(0, 0, 0, 0.8);
    
}




#trailers_container, #videos_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
}


#trailers_container:has(iframe) p, #videos_container:has(iframe) p {
    width: 100%;
    height: 0px !important;
}



iframe {
    border-radius: 20px;
    border: 2px solid var(--red-theme);
}




h2 {
    font-size: 2.3em;
    margin: 0;
}




.adatok {
    /*padding: 25px;*/
    height: fit-content;
}

.adatok .also {
    margin: 30px 0px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.adatok a {
    width: fit-content;
    color: var(--red-underline);
    transition: all 0.3s ease-in-out;
}

.adatok a:hover {
    font-size: large;
    color: var(--red-theme);
    transition: all 0.3s ease-in-out;
}


.adatok .also > p {
    width: fit-content;
}


#releasedate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#releasedate span {
    margin-left: 5px;
}



.infoReszleg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
    padding: 5px 10px;

    border: 2px solid var(--red-theme);
    border-radius: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);

    transition: 0.5s all;
}

.infoReszleg p {
    padding: 0;
    margin: 7px 10px;
}


.infoReszleg hr {
    min-width: 100%;
    max-width: 100%;
    height: 5px;
    border-color: gray;
    color: gray;
    background-color: gray;
}


.infoReszleg > button {
    padding: 0px 10px 8px 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid var(--red-theme);
    text-align: center;
    font-weight: bolder;

    transition: 0.3s;
}
.infoReszleg > button:hover {
    border-color: var(--red-underline);
    transition: 0.3s;
}



#generalInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    max-width: 100%;
}


#extraInfoBox {
    width: 100%;
    height: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

#extraInfoBox p {
    text-align: left;
}



#togglePersons {
    margin: 20px auto;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid var(--red-theme);

    transition: 0.3s;
}
#togglePersons:hover {
    border-color: var(--red-underline);
    transition: 0.3s;
}




#stabLista.hidden {
    height: 0px !important;
    overflow: hidden;
}
#stabLista.showing {
    height: 100% !important;
}




#stabLista {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    border-radius: 10px;
    border: 2px solid var(--red-underline);
    padding: 10px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.7);

    max-height: 70vh !important;
    overflow-y: auto !important;
}


#stabLista > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 50px;
}

#stabLista > div > h3 {
    width: 100% !important;
    height: fit-content;
    margin: 0px 0px 10px 0px;
    text-decoration: underline;
    font-weight: bolder;
    text-align: left;
}



.creditsTag {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: rgba(20, 20, 20, 0.8);
    border-radius: 20px;
    padding: 5px;
}

.creditsTag img {
    width: 100px !important;
    border-radius: 10px;
    margin-bottom: 5px;
}


.creditsTag h4 {
    font-size: 20px;
    font-weight: bold;
}
.creditsTag h4 a:hover {
    font-size: 22px !important;
}
.creditsTag h5 {
    font-size: 15px;
}
.creditsTag h6 {
    font-size: 12px;
    font-style: italic;
}




.elsoszekcio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.masodikszekcio {
    display: flex;
    justify-content: center;
}


.egybe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.rating {
    margin: 0 5px 0 5px;
    width: 45px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    border: 2px solid black;
    background-color: rgba(50, 50, 50, 0.5);

    font-weight: bolder;
}





.bottominteractions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: nowrap;

    height: auto;

    gap: 40px 40px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.bottominteractions hr {
    width: 100%;
    background-color: white;
    border-color: white;
    margin-top: 0;
}


#linkbox {
    min-width: 200px !important;
    max-width: 350px;
    width: 30%;

    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px 10px;
    margin: 0;

    text-align: center;

    border-radius: 20px;
    border: 2px solid var(--red-theme);
    background-color: rgba(0, 0, 0, 0.4);
}

#linkbox a {
    margin-bottom: 10px;
}

#sajaturl {
    font-size: 1.3rem;
}

.kisbetus {
    font-size: .8rem;
    font-style: italic;
    color: gray;
}
.kisbetus::before {
    content: "(";
}
.kisbetus::after {
    content: ")";
}



#inputactions {
    min-width: 250px !important;
    width: 60%;
    
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    padding: 10px 10px;
    margin: 0;

    text-align: center;

    border-radius: 20px;
    border: 2px solid var(--red-theme);
    background-color: rgba(0, 0, 0, 0.4);
}




.gombok {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.inputok {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.gombok button, .inputok button {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;

    /*clear done*/

    border: 1px solid var(--red-underline);
    border-radius: 20px;
    background-color: var(--red-theme);
    padding: 5px 10px;

    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.gombok button:hover, .inputok button:hover {
    transition: all 0.3s ease-in-out;
    font-size: larger;
}

.gombok button {
    font-size: 40px;
}

.gombok button:hover {
    font-size: 45px;
}




#inputactions div p {
    padding: 0;
    margin: 0;
}




.bevitel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inputactions input, #inputactions textarea {
    width: 70%;
    transition: 0.3s all ease-in-out;
    border: none;
    outline: none;

    border-radius: 20px;
    border: 2px solid gray;
    padding: 5px 10px;
    margin: 20px 10px;
}

#inputactions input:focus, #inputactions textarea:focus {
    width: 85%;
    transition: 0.3s all ease-in-out; 
}


#leiras, #datumok {
    color: lightgray;
}

#datumok {
    font-size: small;
}





#videok_container a {
    color: var(--red-underline);
}

