@media screen and (max-width: 768px) {
    .resz {
        flex-direction: column-reverse;
    }

    .adatok {
        padding: 0px !important;
        margin: auto;
    }

    #poster {
        margin: auto;
    }

    .rowba p {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .adatok p, .adatok a {
        margin-left: auto;
        margin-right: auto;
    }


    #poster #posterimg {
        max-width: calc(100vw - 20vw) !important;
    }

    #poster #fadedimg {
        max-height: calc(100vh - 10vh);
        max-width: calc(100vw - 10vw) !important;
        scale: 1;
        margin-top: 0px;
    }


    #leiras, #sajatnote, #datumok {
        text-align: center;
    }


    iframe {
        margin: auto;
    }
}


@media screen and (max-width: 888px) {
    .bottominteractions {
        flex-wrap: wrap;
        justify-content: center;
    }

    #linkbox {
        width: 100% !important;
    }

    #inputactions {
        width: 100% !important;
    }
}
