body {
    height: max-content;
    width: max-content;
}

.navbarfixmarginja {
    width: 100%;
    height: 80px;
}

.bold {
    font-weight: bold;
}


.resz {
    justify-content: center;
    --bs-gutter-x: 0 !important;
}



#poster {
    margin: 20px;
    margin-top: 0px;
    overflow: hidden !important;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#poster #posterimg {
    position: relative;
    border: 2px solid black;

    max-height: calc(100vh - 20vh);
    margin-top: 30px;
}

#poster #fadedimg {
    position: absolute;
    z-index: -1;
    filter: blur(15px);
    border-radius: 20px;
    max-height: calc(100vh - 20vh);
    max-width: 35vw;
    scale: 1.1;

    margin-top: 30px;
}




.videok {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    width: fit-content;
}


#videokLoad_btn {
    border-radius: 20px;
    border: 2px solid var(--red-theme);
    padding: 5px 10px;
    width: fit-content;
    text-align: center;
    margin: 20px auto;
    transition: 0.3s;

    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

#videokLoad_btn:hover {
    font-weight: bolder;
    font-size: 1.05em;
    transition: 0.3s;
}



#videok_container {
    position: fixed;
    inset: 0px;
    max-width: 90vw;
    max-height: 80dvh;
    overflow: auto;
    width: max-content;
    height: max-content;

    margin: auto;

    z-index: 100 !important;

    padding: 10px;
    border-radius: 20px;
    border: 2px solid var(--red-theme);

    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);

    transition: 0.3s all;
}

#videok_container h5 {
    max-width: fit-content;
    font-size: 1.6em;
    text-decoration: underline;
    text-align: left;
    margin: 20px;
}

#videok_container span {
    position: sticky;
    top: 0px !important;
    right: 20px;
    float: right;
    width: fit-content;
    font-size: 1.6rem;
    transition: 0.3s all;

    z-index: 110 !important;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    border-radius: 20px;
}

#videok_container span:hover {
    color: var(--red-theme);
    transition: 0.3s all;
}


#videok_container hr {
    margin: 0;
}

.bgpreventclickandfade {
    display: none;
    position: fixed;
    top: -100dvh !important;
    left: -100vw !important;
    min-width: 200vw;
    min-height: 200dvh;

    z-index: 80 !important;
    background-color: rgba(0, 0, 0, 0.8);
    
}




#trailers_container, #videos_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
}


#trailers_container:has(iframe) p, #videos_container:has(iframe) p {
    width: 100%;
    height: 0px !important;
}


iframe {
    border-radius: 20px;
    border: 2px solid var(--red-theme);
}




h2 {
    font-size: 2.3em;
    margin: 0;
}


.adatok {
    padding: 25px;
    height: fit-content;
}

.adatok .also {
    margin: 30px 0px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.adatok a {
    width: fit-content;
    color: var(--red-underline);
    transition: all 0.3s ease-in-out;
    margin-bottom: 15px;
}

.adatok a:hover {
    font-size: large;
    color: var(--red-theme);
    transition: all 0.3s ease-in-out;
}


.adatok .also > p {
    width: fit-content;
}

#releasedate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#releasedate span {
    margin-left: 5px;
}


.infoReszleg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
    padding: 5px 10px;

    border: 2px solid var(--red-theme);
    border-radius: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);

    transition: 0.5s all;
}

.infoReszleg p {
    padding: 0;
    margin: 7px 10px;
}

.infoReszleg hr {
    min-width: 100%;
    max-width: 100%;
    height: 5px;
    border-color: gray;
    color: gray;
    background-color: gray;
}


.infoReszleg > button {
    padding: 0px 10px 8px 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid var(--red-theme);
    text-align: center;
    font-weight: bolder;

    transition: 0.3s;
}
.infoReszleg > button:hover {
    border-color: var(--red-underline);
    transition: 0.3s;
}



#generalInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    max-width: 100%;
}


#extraInfoBox {
    width: 100%;
    height: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

#extraInfoBox p {
    text-align: left;
}



#togglePersons {
    margin: 20px auto;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid var(--red-theme);

    transition: 0.3s;
}
#togglePersons:hover {
    border-color: var(--red-underline);
    transition: 0.3s;
}




#stabLista.hidden {
    height: 0px !important;
    overflow: hidden;
}
#stabLista.showing {
    height: 100% !important;
}




#stabLista {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    border-radius: 10px;
    border: 2px solid var(--red-underline);
    padding: 10px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.7);

    max-height: 70vh !important;
    overflow-y: auto !important;
}


#stabLista > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 50px;
}

#stabLista > div > h3 {
    width: 100% !important;
    height: fit-content;
    margin: 0px 0px 10px 0px;
    text-decoration: underline;
    font-weight: bolder;
    text-align: left;
}



.creditsTag {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: rgba(20, 20, 20, 0.8);
    border-radius: 20px;
    padding: 5px;
}

.creditsTag img {
    width: 100px !important;
    border-radius: 10px;
    margin-bottom: 5px;
}


.creditsTag h4 {
    font-size: 20px;
    font-weight: bold;
}
.creditsTag h4 a:hover {
    font-size: 22px !important;
}
.creditsTag h5 {
    font-size: 15px;
}
.creditsTag h6 {
    font-size: 12px;
    font-style: italic;
}



.elsoszekcio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.masodikszekcio {
    display: flex;
    justify-content: center;
}


.egybe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.rating {
    margin: 0 5px 0 5px;
    width: 45px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    border: 2px solid black;
    background-color: rgba(50, 50, 50, 0.5);

    font-weight: bolder;
}




.bottominteractions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: nowrap;

    height: auto;

    gap: 40px 40px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.bottominteractions hr {
    width: 100%;
    background-color: white;
    border-color: white;
    margin-top: 0;
}


#linkbox {
    min-width: 200px !important;
    max-width: 350px;
    width: 30%;

    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px 10px;
    margin: 0;

    text-align: center;

    border-radius: 20px;
    border: 2px solid var(--red-theme);
    background-color: rgba(0, 0, 0, 0.4);

    transition: 0.3s;
}

#linkbox button {
    display: none;

    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid var(--red-theme);
    padding: 5px 10px;
    margin-bottom: 15px;
    transition: 0.3s;
}

#linkbox button:hover {
    font-size: 1.05em;
    font-weight: bold;
    border-color: var(--red-underline);
    transition: 0.3s;
}



#collapse_links {
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: var(--font-main);
}


#sajaturl {
    font-size: 1.3rem;
}

.kisbetus {
    font-size: .8rem;
    font-style: italic;
    color: gray;
}
.kisbetus::before {
    content: "(";
}
.kisbetus::after {
    content: ")";
}




#inputactions {
    min-width: 250px !important;
    width: 60%;
    
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    padding: 10px 10px;
    margin: 0;

    text-align: center;

    border-radius: 20px;
    border: 2px solid var(--red-theme);
    background-color: rgba(0, 0, 0, 0.4);

    font-family: var(--font-main);
}





.gombok {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.inputok {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.gombok button, .inputok button {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;

    /*clear done*/

    border: 1px solid var(--red-underline);
    border-radius: 20px;
    background-color: var(--red-theme);
    padding: 5px 10px;

    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.gombok button:hover, .inputok button:hover {
    transition: all 0.3s ease-in-out;
    font-size: larger;
}

.gombok button {
    font-size: 40px;
}

.gombok button:hover {
    font-size: 45px;
}




#inputactions div p {
    padding: 0;
    margin: 0;
}




.bevitel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inputactions input, #inputactions textarea {
    width: 70%;
    transition: 0.3s all ease-in-out;
    border: none;
    outline: none;

    border-radius: 20px;
    border: 2px solid gray;
    padding: 5px 10px;
    margin: 20px 10px;
}

#inputactions input:focus, #inputactions textarea:focus {
    width: 85%;
    transition: 0.3s all ease-in-out; 
}


#leiras, #datumok {
    color: lightgray;
}

#datumok {
    font-size: small;
}






/*évadok, epizódok*/

.general {
    width: fit-content;
    margin: 10px auto;
    border: 2px solid var(--red-theme);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.general p {
    margin: 5px;
    font-weight: bolder;
}

.general p span {
    font-weight: normal;
}


#seasonlist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: 95%;
    width: fit-content;
    margin-bottom: 30px;
}

.season {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1.4px solid var(--red-underline);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}


#seasonpage {
    max-width: 95%;
    margin: auto;
}


.infok {
    width: fit-content;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    max-width: 100% !important;
}

.infok p {
    width: fit-content;
    margin: 10px auto;
}

.infok h3, .infok h5 {
    margin: 0px auto;
    width: fit-content;
}

.infok div#ertekeles {
    margin: 0px auto 10px auto;
}


#evadposter {
    margin: 20px;
    margin-top: 0px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#evadposter #evadposterimg {
    position: relative;
    border: 2px solid black;

    max-height: calc(100vh - 20vh);
}

#evadposter #evadfadedimg {
    position: absolute;
    z-index: -1;
    filter: blur(15px);
    border-radius: 20px;
    max-height: calc(100vh - 10vh);
    max-width: 35vw;
}





.kozeprow {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}



#episodes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
}


.episode {
    max-width: 99% !important;
    width: fit-content;
    margin-bottom: 15px !important;
    margin-top: 15px !important;
    margin-right: 20px !important;
    margin-left: 20px !important;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid var(--red-theme);
}


.overviewButton {
    margin: 10px;
    padding: 5px;
    font-size: small;
    border-radius: 20px;
    border: 1px solid var(--red-underline);
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.overviewButton:hover {
    scale: 1.1;
    transition: 0.3s;
}

.episode .overview { /*valamit majd csinálok vele*/
    display: none;

    margin: 5px;
}


.episode .data {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



.episode .ep_num {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    width: fit-content;
    border: 2px solid var(--red-theme);
    padding: 5px;
    text-align: center;
    align-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 5px !important;
    margin-top: 0px !important;
    margin-right: 10px !important;
    margin-left: 0px !important;
}

.episode:last-of-type {
    margin-bottom: 20px;
}


.episode .data p:nth-child(2) {
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
    font-size: larger;
}

.episode .data p:nth-child(3) {
    text-align: center;
}


#episodes hr {
    width: 100% !important;
    color: var(--red-theme);
    border: 1px solid var(--red-underline);
    background-color: var(--red-theme);
    margin-top: 50px;
}



#episodes .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 100%;
}

.buttons button {
    margin: 10px 40px;
    padding: 5px 10px;
    border-radius: 20px;
    transition: 0.3s;
    border: 2px solid black;


    background-color: rgba(0, 100, 0, 0.5);
}
.buttons button:last-of-type {
    background-color: rgba(100,0,0,0.5);
}

.buttons button:first-of-type:hover {
    scale: 1.1;
    background-color: rgba(0, 170, 0, 0.7);
    transition: 0.3s;
}
.buttons button:last-of-type:hover {
    scale: 1.1;
    background-color: rgba(170, 0, 0, 0.7);
    transition: 0.3s;
}



.alsoResz {
    position: sticky;
    bottom: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    gap: 0px 20px;

    width: fit-content;
    max-width: 100% !important;
    margin: auto;

    pointer-events: none;

    font-family: var(--font-main);
}

.alsoResz * {
    pointer-events: all;
}



#kezelobtns {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 25px;
}




#backBtnContainer {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 10px;
    margin-bottom: 20px;
    height: fit-content !important;
}

#backBtnContainer button, #backBtnContainer i {
    background: none;
    border: none;
    font-size: 30px;
}

#backBtnContainer button {
    margin: 10px 0px;
    padding: 0px 7px;
    border-radius: 100%;
    transition: 0.3s;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.9);
}



.selected {
    /*background-color: rgba(32, 70, 32, 0.6) !important;*/
    background-color: rgba(0, 120, 100, 0.5) !important; /* Turquoise */
    box-shadow: 0 0 12px rgba(0, 215, 165, 0.4) !important;
    border-color: rgba(0, 255, 60, 0.5) !important;
}

.selected * {
    border-color: rgba(255, 0, 0, 0.5) !important;
}

.watched {
    /*background-color: rgba(34, 197, 94, 0.6);*/
    background-color: rgba(21, 93, 55, 0.3);
    border-color: rgb(49, 86, 24);
}

.watched * {
    border-color: white;
}

.watched .ep_num {
    border-color: rgb(51, 14, 14);
}





#loadingparent {
    /*display: none; /*ez lesz jsel változtatva*/

    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    
    width: 100vw !important;
    height: 100vh !important;
    min-width: 100vw !important;
    min-height: 100vh !important;
    max-width: 100vw !important;
    max-height: 100vh !important;
    
    z-index: 9999 !important;

    background-color: rgba(0, 0, 0, 0.8);
}

#loadingparent * {
    width: fit-content;
    margin: auto;
}

.loadingcucc {
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.loader {
    position: relative;

    left: 15%;

    width: 144px !important;
    height: 144px !important;
    border: 5px dotted #FFF;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 5px dotted #FF3D00;
  border-style: solid solid dotted;
  width: 110px !important;
  height: 110px !important;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}
      
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
} 






#osszesito {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    max-width: 100% !important;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#osszesito_btn {
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid var(--red-theme);
    transition: 0.3s;
}

#osszesito_btn:hover {
    font-size: large;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s;
}



#tablazat {
    width: fit-content;
    max-width: 95% !important;
    overflow-x: auto;
    margin: auto;
    font-size: medium;

    font-family: var(--font-main);
}


#tablazat table {
    border-collapse: separate;
    border-spacing: 10px;
}

#tablazat table th, #tablazat table td {
    color: black;
    font-weight: 550;
    padding: 2px 12px;
    border-radius: 5px;
    text-align: center;
}

#tablazat table td:first-child {
    color: white;
    font-weight: bolder;
    text-align: right;
    background-color: var(--bg-color);
    padding: 3px 10px 3px 3px;
    border-radius: 0px;


    position: sticky;
    left: 0;
    z-index: 2;
}
#tablazat table th {
    color: white;

    position: sticky;
    top: 20px;
    z-index: 2;
}



.szinek {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px;
    max-width: 98% !important;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
}

.magyarazat {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.magyarazat p {
    margin: 0px;
    margin-left: 15px;
    font-weight: bolder;
    font-size: large;
}


.szin {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 10px;
}


.szinek .magyarazat:nth-child(1) .szin {
    background-color: var(--rating-awesome);
}
.szinek .magyarazat:nth-child(2) .szin {
    background-color: var(--rating-great);
}
.szinek .magyarazat:nth-child(3) .szin {
    background-color: var(--rating-good);
}
.szinek .magyarazat:nth-child(4) .szin {
    background-color: var(--rating-regular);
}
.szinek .magyarazat:nth-child(5) .szin {
    background-color: var(--rating-bad);
}
.szinek .magyarazat:nth-child(6) .szin {
    background-color: var(--rating-garbage);
}
.szinek .magyarazat:nth-child(7) .szin {
    background-color: var(--rating-upcoming);
}








#progressionbox {
    width: 70vw;
    margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 50px;
    justify-content: space-between;
}






.progression {
    width: 300px;
    height: fit-content;
    margin-top: -150px;
    text-align: center;
    font-family: sans-serif;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 2px solid rgb(0, 101, 87);
}


.progress {
    position: relative;
    height: 150px;
    margin-bottom: 10px;
    background-color: transparent;
    border-radius: 0;
}

.circle {
    width: 100%;
    height: 100%;
}

.arc {
    width: 100%;
    height: 100%;
    display: block;
    /* Removed the flip here */
}

.arc path {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
}

.bg {
    stroke: #515151;
}

.fg {
    stroke: #3dc385;
    stroke-dasharray: 126;
    stroke-dashoffset: 126;
    transition: stroke-dashoffset 1.5s ease;
}

@keyframes coloring {
  0%   { stroke: rgb(0, 255, 162); }
  50%  { stroke: rgb(30, 255, 0); }
  100% { stroke: rgb(0, 255, 162); }
} 


.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.progression_current {
    font-weight: bold;
    width: 20%;
    margin-left: 20px;
    text-align: left;
}

.progression_max {
    font-weight: bold;
    width: 20%;
    margin-right: 20px;
    text-align: right;
}

.progression_label {
    width: 50%;
    text-align: center;
    font-style: italic;
    color: #858585;
    margin-top: -130px;
}


#videok_container a {
    color: var(--red-underline);
}



.mid_season_secound_countdown {
    margin: 0;
    margin-top: -5px;
    font-size: smaller;
    color: gray;
}

.ep_num:has(.mid_season_secound_countdown) {
    height: fit-content;
}

.extrainfo {
    color: gray;
}


.hosszulehet {
    max-width: 100% !important;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    cursor: pointer;

    animation-play-state: paused;
    animation-name: villog;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}


@keyframes villog {
    0% {
        color: white;
    }
    50% {
        color: gray;
    }
    100% {
        color: white;
    }
}


#last_seen {
    font-family: var(--font-main);
}

