@media screen and (max-width: 768px) {
    .resz {
        flex-direction: column-reverse;
    }

    .adatok {
        padding: 0px !important;
        margin: auto;
    }

    #poster {
        margin: auto;
    }

    .rowba p {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .adatok p, .adatok a {
        margin-left: auto;
        margin-right: auto;
    }

    #episodes {
        justify-content: center;
    }

    #evadposter {
        margin: 20px auto;
    }

    #evadposter #evadposterimg {
        max-width: calc(100vw - 20vw) !important;
    }

    #evadposter #evadfadedimg {
        max-width: calc(100vw - 10vw) !important;
    }


    .episode {
        width: 100% !important;
    }

    .episode .overview {
        font-size: small;
    }

}
